
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Profile</title>
</head>
<body>
  {% extends "personal_collection/base.html" %}
  {% load django_bootstrap5 %}
  {% load static %}

{% block page_header %}
  <style>
    body {
      background-image: url("{% static 'personal_collection/images/paper_background.jpg' %}") ;
    }
    .bg-light {
      --bs-bg-opacity: 0.75;
    }

      a { text-decoration: none; }
  </style>

  <h1>{{ profile.public_name }}</h1>
{% endblock page_header %}

{% block content %}
    <div class="container mb-3">
      <div class="row">
        <div class="col-sm">
          <div class="container mb-3 bg-light">
            <div class="row mb-3">

  {% if own_profile %}
              <div class="col-sm">
    <a href="{% url 'public_profile:edit_profile' %}">Edytuj</a>
              </div>
  {% elif already_friend %}
              <div class="col-sm">
    Znajomy
    <a href="{% url 'public_profile:public_collection' profile.id %}">Kolekcja</a>
              </div>

  {% elif invitation_pending %}
              <div class="col-sm">
    Zaproszenie wysłane
              </div>
  {% elif invitation_to_accept %}
              <div class="col-sm">
    Zaproszenie otrzymane <a href="{% url 'friend_list:accept_invite' profile.id %}">Potwierdź</a>
              </div>

  {% else %}
              <div class="col-sm">
    <a href="{% url 'friend_list:invite' profile.user_id %}">Zaproś</a>
                  </div>
  {% endif %}

              </div>

<div class="row mb-3">
    <div class="col-sm">
    Znajomi: {{ count_friends }}
    </div>
     <div class="col-sm">
    W kolekcji: {{ count_collection }}
    </div>
     <div class="col-sm">
    Przeczytane: {{ count_read }}
    </div>
     <div class="col-sm">
    Recenzje: {{ count_reviews }}
     </div>
     <div class="col-sm">
    Ocenione: {{ count_ratings }}
    </div>
</div>


              <div class="row mb-3">
                <div class="col-sm">
  <p>Lokacja: {{ profile.location }}</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm">
                      <div class="container mb-1">

                          <div class="row">
                  <div class="col-sm">
  {{ profile.bio }}
                       </div>
              </div>
                      </div>
              </div>
              </div>
              </div>
        </div>
        <div class="col-6">
  <img src="{{ profile.image.url }}"  width="300" height="450">
        </div>
      </div>
    </div>

{% endblock content %}

</body>
</html>