
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Profile</title>
</head>
<body>
{% extends "personal_collection/base.html" %}

{% block page_header %}
  <h1>{{ profile.public_name }}</h1>
{% endblock page_header %}

{% block content %}
  {% if own_profile %}
    <p><a href="{% url 'public_profile:edit_profile' %}">Edytuj</a></p>
  {% elif already_friend %}
    <p>Znajomy</p>
  {% elif invitation_pending %}
    <p>Zaproszenie wysłane</p>
  {% elif invitation_to_accept %}
    <p>Zaproszenie otrzymane <a href="{% url 'friend_list:accept_invite' profile.id %}">Potwierdź</a></p>
  {% else %}
    <p><a href="{% url 'friend_list:invite' profile.user_id %}">Zaproś</a></p>
  {% endif %}

  <p>Lokacja: {{ profile.location }}</p>
  <p>Bio:</p>
  <p>{{ profile.bio }}</p>
  <img src="{{ profile.image.url }}" width="200" height="300">

{% endblock content %}

</body>
</html>