<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>MyLibra - Książka</title>
</head>
<body>
{% extends 'personal_collection/base.html' %}

{% block page_header %}
  <h1>{{ title.title }}</h1>
{% endblock page_header %}

{% block content %}
  {% if book_is_read %}
    <p>Przeczytana</p>
    {% if users_rating %}
      <p>Twoja ocena: {{ users_rating.rating }}</p>
    {% else %}
      <p>Twoja ocena: Brak</p>
    {% endif %}
  {% else %}
    <p><a class="btn btn-primary" href="{% url 'book_reviews:read_book' title.id %}">Oznacz jako przeczytaną</a></p>
  {% endif %}

  {% if average_rating %}
    <p>Średnia ocena: {{ average_rating }}</p>
  {% else %}
    <p>Książka nie została jeszcze oceniona</p>
  {% endif %}

  <p>Autor: <b>{{ title.author }}</b></p>
  <p>Gatunek: <b>{{ title.genre }}</b></p>
  <p>Język: <b>{{ title.language }}</b></p>
  <p>ISBN: <b>{{ title.isbn_nr }}</b></p>
  <img src="{{ title.cover.url }}" width="200" height="300">

  {% if ownership %}
    <p>
      <a class="btn btn-primary" href="{% url 'personal_collection:edit_title' copy.id %}">Edytuj</a>
    </p>
  {% endif %}

  {% if book_is_read %}
    {% if users_review %}
      <h3>Twoja recenzja:</h3>
      <p>{{ users_review.review }}</p>
    {% else %}
      <p>Nie dodałeś jeszcze recenzji</p>
    {% endif %}
  {% endif %}

{% endblock content %}
</body>
</html>