<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra</title>
</head>
<body>
{% extends "personal_collection/base.html" %}

{% load static %}
{% block page_header %}
  <style>
    body {
      background-image: url("{% static 'personal_collection/images/welcome_medium.jpg' %}") ;
    }
    .bg-light {
      --bs-bg-opacity: 0.75;
    }

  </style>
  <div class="jumbotron p-4 bg-light">
    <h1 class="display-4">MyLibra</h1>
    <p class="lead">Twój księgozbiór pod kontrolą</p>
    <hr class="my-4">
    <p>Załóż konto, aby rozpocząć korzystanie z MyLibra</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'users:register' %}" role="button">Utwórz konto</a>
    </p>
  </div>

{% endblock page_header %}

</body>
</html>