<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Twoja kolekcja</title>
    {% extends "personal_collection/base.html" %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

</head>
<body>

{% block page_header %}

   <style>
    body {
      background-image: url("{% static 'personal_collection/images/paper_background.jpg' %}") ;
    }
    .bg-light {
      --bs-bg-opacity: 0.75;
    }

      a { text-decoration: none; }
  </style>

  <h1>Twoja kolekcja</h1>
{% endblock page_header %}

{% block content %}
  <div class="container mb-3">
      <div class="row">
        <div class="col-sm">
            <form role="search" method="post" action="{% url 'personal_collection:copy_search' %}">
        {% csrf_token %}
        <input type="search" placeholder="Wyszukaj w kolekcji" name="search_query" required aria-label="Search">
        <button type="submit">Szukaj</button>
      </form>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" href="{% url 'personal_collection:title_search' %}">Dodaj tytuł</a>
        </div>
      </div>
  </div>


    <div class="container">
      <div class="row">
          {% for book in books %}
         <div class="col-sm-2 mb-3 d-flex align-items-stretch">
             <div class="card bg-light">
              <div class="card-body d-flex flex-column">
                  <img src="{{ book.book_title.cover.url }}" class="card-img-top" ale="Profil">
            <h7><a href="{% url 'personal_collection:copy' book.id %}">{{ book }}</a></h7>
              <h7>{{ book.book_title.author }}</h7>
              <h7>{{ book.book_title.genre }}</h7>
              </div>
             </div>
          </div>

  {% empty %}
      <li>Nie masz jeszcze żadnej książki w kolekcji</li>
  {% endfor %}
          </div>
    </div>

{% endblock content %}
</body>
</html>