<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Twoja kolekcja</title>
</head>
<body>
{% extends "personal_collection/base.html" %}

{% load static %}
{% block page_header %}
  <h1>Twoja kolekcja</h1>
{% endblock page_header %}

{% block content %}
  <p>
    <a class="btn btn-primary" href="{% url 'personal_collection:new_title' %}">Dodaj nowy tytuł</a>
  </p>

  {% for book in books %}
    <div class="card mb-3">
      <h7 class="card-header">
          <a href="{% url 'personal_collection:copy' book.id %}">{{ book }}</a>
      </h7>
    </div>
  {% empty %}
      <li>Nie masz jeszcze żadnej książki w kolekcji</li>
  {% endfor %}

git
{% endblock content %}
</body>
</html>