<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Logout</title>
    {% extends "personal_collection/base.html" %}
    {% load django_bootstrap5 %}
    {% load static %}
</head>
<body>

{% block page_header %}
  <style>
    body {
      background-image: url("{% static 'personal_collection/images/logout.jpg' %}") ;
    }
    .bg-light {
      --bs-bg-opacity: 0.75;
    }

      a { text-decoration: none; }
  </style>

  <div class="jumbotron p-4 bg-light">
    <h1 class="display-3">Poprawnie wylogowano</h1>

    <p class="lead">Zaloguj się by korzystać z MyLibra</p>

    <a class="btn btn-lg btn-primary" href="{% url 'users:login' %}" role="button">Zaloguj się ponownie &raquo;</a>
  </div>

{% endblock page_header %}
</body>
</html>