<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Login</title>
    {% extends "personal_collection/base.html" %}
    {% load django_bootstrap5 %}
    {% load static %}
</head>
<body>

{% block page_header %}
  <style>
    body {
      background-image: url("{% static 'personal_collection/images/login.jpg' %}") ;
    }
    .bg-light {
      --bs-bg-opacity: 0.75;
    }

      a { text-decoration: none; }
  </style>

<div class="container">
      <div class="row">
          <div class="col-6">
<div class="jumbotron p-4 bg-light">
  <h2>Zaloguj się do konta</h2>
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

      <button name="submit" class="btn btn-primary">Zaloguj</button>


    <input type="hidden" name="next" value="{% url 'personal_collection:index' %}" />
  </form>
   </div>
          </div>
      </div>
</div>
{% endblock page_header %}

</body>
</html>