<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyLibra</title>
</head>
<body>
{% extends "personal_collection/base.html" %}

{% block content %}
  {% if form.errors %}
  <p>Nazwa użytkownika lub hasło jest nieprawidłowe. Spróbuj ponownie.</p>
  {% endif %}

  <form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit">Zaloguj</button>
    <input type="hidden" name="next" value="{% url 'personal_collection:index' %}" />
  </form>
{% endblock content %}
</body>
</html>