<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>MyLibra - Znajomi</title>
    {% extends "personal_collection/base.html" %}
    {% load django_bootstrap5 %}
    {% load static %}
</head>
<body>
  {% block page_header %}

    <style>
    body {
      background-image: url("{% static 'personal_collection/images/paper_background.jpg' %}") ;
    }
    .bg-light {
      --bs-bg-opacity: 0.75;
    }

      a { text-decoration: none; }
  </style>

    <h1>Twoi znajomi</h1>
  {% endblock page_header %}

{% block content %}
  <div class="container mb-3">
      <div class="row">
        <div class="col-sm">
            <form role="search" method="post" action="{% url 'friend_list:user_search' %}">
              {% csrf_token %}
              <input type="search" placeholder="Wyszukaj" name="search_query" required aria-label="Search">
              <button type="submit">Szukaj</button>
            </form>
        </div>
          <div class="col-sm-2">
            <a href="{% url 'friend_list:invitations' %}">Zaproszenia</a>
              {% if invites > 0 %}
              Oczekujące: {{ invites }}
              {% endif %}
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
  {% for friend in friends %}

        <div class="col-sm-2 mb-3">
          <div class="card bg-light">
            <img src="{{ friend.friend.image.url }}" class="card-img-top" ale="Profil">
            <a class="card-text text-center" href="{% url 'public_profile:profile' friend.friend.id %}">{{ friend.friend.public_name }}</a>
          </div>
        </div>

  {% empty %}
    <h5>Nie dodałeś jeszcze znajomych</h5>
  {% endfor %}
    </div>
  </div>
{% endblock content %}
</body>
</html>